aiohttp==3.8.4
aiosignal==1.3.1
altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/altgraph-0.17.2-py2.py3-none-any.whl
asgiref==3.7.2
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
azure-core==1.28.0
azure-storage-blob==12.17.0
backoff==2.2.1
beautifulsoup4==4.12.2
blinker==1.6.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cryptography==41.0.3
distlib==0.3.6
Django==4.2.3
django-cors-headers==4.2.0
djangorestframework==3.14.0
exceptiongroup==1.1.1
filelock==3.12.2
Flask==2.3.2
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.5
frozenlist==1.3.3
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/future-0.18.2-py3-none-any.whl
gql==3.4.1
graphql-core==3.2.3
h11==0.14.0
idna==3.4
importlib-metadata==6.6.0
install==1.3.5
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.2
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/macholib-1.15.2-py2.py3-none-any.whl
MarkupSafe==2.1.3
multidict==6.0.4
numpy==1.25.0
oauthlib==3.2.2
outcome==1.2.0
pandas==2.0.3
Pillow==10.0.0
platformdirs==3.8.1
psycopg2==2.9.6
pycparser==2.21
PySocks==1.7.1
python-dateutil==2.8.2
python-twitter==3.5
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.3.1
selenium==4.9.1
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/six-1.15.0-py2.py3-none-any.whl
sniffio==1.3.0
snscrape==0.7.0.20230622
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.16
sqlparse==0.4.4
trio==0.22.0
trio-websocket==0.10.2
tweepy==4.14.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.16
virtualenv==20.23.1
Werkzeug==2.3.6
whatnot==0.1.2
wsproto==1.2.0
yarl==1.9.2
zipp==3.15.0
